ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  
  li a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 141px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #9f00ad;
    color: rgb(0, 255, 234); 
  }

div h1 {
  padding-top: 30px;
}

img {
  width: 500px;
}

.row {
  padding: 0px;
}

div {
  padding: 0px;
}

body{
  background: rgb(187, 187, 187);
}

.list-group-item {
  background-color: rgb(171, 0, 194);
  color: aliceblue;
}