#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    display: block;
  }

  
  
  li a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
    background-color: #333333;
    border-radius: 10px;
    margin-left: 5%;
  }
  
  li a:hover {
    background-color: #9f00ad;
    color: rgb(0, 255, 234); 
    animation-name: SigmaGrindset;
    animation-duration: 0.5s;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  li:hover {
    color: rgb(0, 255, 234); 
    animation-name: SigmaGrindset;
    animation-duration: 1s;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

@keyframes SigmaGrindset {
  from {background-color: #333333;}
  to {background-color: #9f00ad;}
}

#kep:hover{
  transition: 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.9;
}

div h1 {
  padding-top: 30px;
}

img {
  width: 500px;
}

.row {
  padding: 0px;
}

div {
  padding: 0px;
}

body{
  background: rgb(187, 187, 187);
  color: rgb(0, 0, 0);
  background-image: url(https://t4.ftcdn.net/jpg/02/92/73/13/360_F_292731351_p4objwWzlIieS2Kh7kbWVWmOhNrNE5Ft.jpg);
  background-size: cover;
}

.list-group-item {
  background-color: rgb(171, 0, 194);
  color: aliceblue;
}
