ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffd900;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #9f00ad;
    color: rgb(0, 255, 234); 
  }